
body {
    background-color:#f2f5f7;
    margin-bottom: 5%;}

header{
    
    border: solid 1px white;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(168, 165, 165, 0.47);
    -moz-box-shadow: 0px 0px 10px 1px rgba(168, 165, 165, 0.47);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(168, 165, 165, 0.47);
    position: sticky;
    margin-bottom: 80px; }

#btn-charte {  background-color: #ce0033;
        border-color: #ce0033;
        display: block;
        margin : auto;
         } 

.box { margin-left: auto;
    margin-left: 50px;
    display: flex;
            justify-content: space-around;
}

.button-primary { margin-left: 200px;}

.is-not-expand ul { display: none;}
li { list-style-image: url("images/bullet.png")}


span { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

.Bloc1 {   position: relative;
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box; }


#section-reussite, #section-ensemble, #section-covid, #section-fun { 
    
    padding: 20px .20px 15px 15px;
     font-size: 90%;
    background: #fffdfd;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px 1px rgba(168, 165, 165, 0.47);
    -moz-box-shadow: 0px 0px 10px 1px rgba(168, 165, 165, 0.47);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(168, 165, 165, 0.47); }

#container1 {margin-left: 45px
    ; margin-top: 3%;}



#btn-random { display: block;
    margin: auto; }

    





    

